.exo6-card {
  height: 200px;
  width: 120px;
  background-color: red;
  margin-bottom: 30px;
  transition: transform, box-shadow, rotate, 0.5s ease;
  transform-origin: center;
  box-shadow: 5px 5px 5px black;
}

.exo6-card:hover {
  transform-origin: top left;
  transform:scale(1.15) rotate3d(1, 1, 1, 2deg);
  box-shadow: 10px 10px 5px black;
}
